:root {
    --font-sans-serif: "Freight Sans Pro", sans-serif;
    --blush: #f8e4e0;
    --cream: #fff4db;
    --black: #000;
    --light-gray: #999;
    --dark-gray: #232323;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 13pt;
    line-height: 1.75em;
    letter-spacing: 1pt;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: normal;
    letter-spacing: 3.6px;
}

img {
    max-width: 100%;
    display: block;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #ccc;
}

a {
    color: var(--black);
    text-decoration: none;
    font-size: 9pt;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.current {
    color: var(--light-gray);
}

.logo {
    font-weight: bold;
}

.primary-nav-bar {
    display: flex;
    margin-left: 0;
}

.primary-nav-bar__item {
    list-style-type: none;
    padding: 0 20px;
}

.primary-nav-bar__item:hover {
    border-bottom: 2px solid red;
}
