:root {
    --font-sans-serif: "Freight Sans Pro", sans-serif;
    --blush: #f8e4e0;
    --cream: #fff4db;
    --black: #000;
    --light-gray: #999;
    --dark-gray: #232323;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 13pt;
    line-height: 1.75em;
    letter-spacing: 1pt;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: normal;
    letter-spacing: 3.6px;
}

img {
    max-width: 100%;
    display: block;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #ccc;
}

a {
    color: var(--black);
    text-decoration: none;
    font-size: 9pt;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.current {
    color: var(--light-gray);
}

.logo {
    font-weight: bold;
}

.primary-nav-bar {
    display: flex;
    align-items: flex-end;
    margin-left: 0;
}

.primary-nav-bar__item {
    list-style-type: none;
    padding: 0 20px;
}

.primary-nav-bar__item a:hover {
    border-bottom: 1px solid var(--black);
}

.footer-nav-bar {
    margin-left: 0;
    padding-left: 0;
}

.footer-nav-bar__item {
    list-style-type: none;
    margin: 0;
    line-height: 22px;
}

.footer-nav-bar__item a:hover {
    border-bottom: 1px solid var(--black);
}

.footer-nav__title {
    margin: 10px 0px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--black);
    width: 200px;
}

.circular-button {
    border: 1.5px solid var(--light-gray);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 50px
}

.circular-button:hover {
    background-color: var(--black);
}

.social-icon {
    padding: 10px 10px 10px 12px;
    font-size: 20px;
}

.social-icon:hover {
    color: white;
}

.large-circular-button {
    border: 1.5px solid var(--light-gray);
    border-radius: 50%;
    width: 115px;
    height: 115px;
    text-align: center;
    line-height: 115px
}

.large-circular-button:hover {
    background-color: var(--black);
}

.to-top:hover {
    color: white;
}

input {
    background: none;
    width: auto;
}

.input-field {
    display: flex;
    justify-content: flex-end;
    border: 1.5px solid var(--light-gray);
    max-width: 475px;
    height: 40px;
}

.email-box {
    border: none;
    flex-grow: 2;
    width: 300px;
    line-height: 38px;
    color: var(--light-gray);
    font-family: var(--font-sans-serif);
    font-size: 8pt;
    letter-spacing: 1px;
    padding-left: 8px;
}

.subscribe-button-input {
    flex-grow: 1;
    border: none;
    background-color: none;
    margin: none;
    padding: 0 20px;
    height: 38px;
    font-size: 9pt;
    letter-spacing: 3px;
}

.subscribe-button-input:hover {
    color: var(--blush);
    background-color: var(--black);
}

.footer-section__title {
    margin-bottom: 5px;
}