<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>VJ TYPE | Components Library
        </title>
        <link rel="stylesheet" href="https://use.typekit.net/fgl3dsv.css">
        <script src="https://kit.fontawesome.com/fb55e6a172.js" crossorigin="anonymous"></script>
        <link href="css/normalize.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/main.css"/>
    </head>

    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>
            
        <article class="component">
        <h3 class="component__name">body</h3>
            <div class="component__img">
                <img 
                    srcset="img/info-description-text.png 2x"
                    src="img/info-description-text.png" alt="image of a general typographical element on my case study web page">
            </div>
            <div class="component__code">
                <p>Dida is a display typeface full of surprises, designed in 2016 by Jeremy Schneider for the Parisian &#8810; Theatre des Bouffes du Nord &#8811;: it is generous through its large rounded shapes, geometric construction and soft lines. Dida is a playful, heavy yet breezy font which was created together with Scalie as an expressive pairing.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">heading h2</h3>
                <div class="component__img">
                    <img 
                        srcset="img/font-block__styles-bar.png 2x"
                        src="img/font-block__styles-bar.png" alt="image of a sample h2 heading">
                </div>
                <div class="component__code">
                   <h2>Kobe &#8226; 6 styles</h2>
                </div>
        </article>

        <article class="component">
                <h3 class="component__name">heading h3</h3>
                    <div class="component__img">
                        <img 
                            srcset="img/info-details-segment__title.png 2x"
                            src="img/info-details-segment__title.png" alt="image of a sample h3 heading">
                    </div>
                    <div class="component__code">
                       <h3>Display &#8211; 1 Weight</h3>
                    </div>
        </article>

        <article class="component">
                    <h3 class="component__name">links/a for current page</h3>
                        <div class="component__img">
                            <img 
                                srcset="img/header-navbar__item-name.png 2x"
                                src="img/header-navbar__item-name.png" alt="image of a sample nav-bar item that is an a/link on the current page">
                        </div>
                        <div class="component__code">
                           <a class="current" href="#!">Typefaces</a>
                        </div>
        </article>

                    <article class="component">
                        <h3 class="component__name">links/a for not-current page</h3>
                            <div class="component__img">
                                <img 
                                    srcset="img/header-navbar__item-about.png 2x"
                                    src="img/header-navbar__item-about.png" alt="image of a sample nav-bar item that is an a/link on another page than the current one">
                            </div>
                            <div class="component__code">
                               <a href="#!" class="not-current">About</a>
                            </div>
        </article>

        <article class="component">
                    <h3 class="component__name">wordmark</h3>
                        <div class="component__img">
                            <img 
                                srcset="img/header-company-name.png 2x"
                                src="img/header-company-name.png" alt="image of wordmark which is also a link">
                        </div>
                        <div class="component__code">
                           <a href="#!" class="logo">VJ TYPE</a>
                        </div>
        </article>

        <article class="component">
                        <h3 class="component__name">primary nav bar</h3>
                            <div class="component__img">
                                <img 
                                    srcset="img/header-navbar.png 2x"
                                    src="img/header-navbar.png" alt="image of the primary header nav-bar">
                            </div>
                            <div class="component__code">
                               <ul class="primary-nav-bar">
                                   <li class="primary-nav-bar__item"><a href="#!">Typefaces<sup>10</sup></a></li>
                                   <li class="primary-nav-bar__item"><a href="#!">Prints<sup>0</sup></a></li>
                                   <li class="primary-nav-bar__item"><a href="#!">About</a></li>
                                   <li class="primary-nav-bar__item"><a href="#!">Custom</a></li>
                                </ul>
                            </div>
        </article>

        <article class="component">
            <h3 class="component__name">typeface module details bar</h3>
                <div class="component__img">
                    <img 
                        srcset="img/font-block__details.png 2x"
                        src="img/font-block__details.png" alt="image of the font module details bar">
                </div>
                <div class="component__code">
                   <ul class="typeface-details-bar">
                       <li class="typeface-details-bar__item"><span class="caps">From 60 &euro;</span></li>
                       <li class="typeface-details-bar__item"><a href="#!"><span class="perma-line">See More</span></a></li>
                       <li class="typeface-details-bar__item"><a href="#!">Specimen</a></li>
                    </ul>
                </div>
</article>

        <article class="component">
                            <h3 class="component__name">footer nav bar</h3>
                                <div class="component__img">
                                    <img 
                                        srcset="img/footer-section__secondary-nav-list.png 2x"
                                        src="img/footer-section__secondary-nav-list.png" alt="image of the secondary footer nav-bar">
                                </div>
                                <div class="component__code">
                                    <p class="footer-nav__title"><a href="#!">Typefaces</a></p>
                                        <ul class="footer-nav-bar">
                                            <li class="footer-nav-bar__item"><a href="#!">Kobe</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Voyage</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Cako</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Love</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Canopee</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Sud</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Nord</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Jager</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Traviata</a></li>
                                            <li class="footer-nav-bar__item"><a href="#!">Dida</a></li>
                                            </ul>
                                </div>
        </article>

        <article class="component">
                            <h3 class="component__name">social button</h3>
                                <div class="component__img">
                                    <img 
                                        srcset="img/footer-section__social-list-icon.png 2x"
                                        src="img/footer-section__social-list-icon.png" alt="image of social button">
                                </div>
                                <div class="component__code">
                                    <div class="circular-button">
                                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                                 
                                    <div class="component__code">
                                        <div class="circular-button">
                                            <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                                        </div>
                                    </div>

                                    <div class="component__code">
                                        <div class="circular-button">
                                            <a class="social-icon" href="#!"><i class="fab fa-pinterest-p"></i></a>
                                        </div>
                                    </div>

                                    <div class="component__code">
                                        <div class="circular-button">
                                            <a class="social-icon" href="#!"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="component__code">
                                        <div class="circular-button">
                                            <a class="social-icon" href="#!"><i class="fab fa-behance"></i></a>
                                        </div>
                                 </div>
        </article>

        <article class="component">
            <h3 class="component__name">page nav button</h3>
                <div class="component__img">
                    <img 
                        srcset="img/footer-section__page-nav.png 2x"
                        src="img/footer-section__page-nav.png" alt="image of page nav button">
                </div>
                <div class="component__code">
                    <div class="large-circular-button">
                        <a class="to-top" href="#!">To Top</a>
                    </div>
                </div>
        </article>

        <article class="component">
            <h3 class="component__name">subscribe section</h3>
                <div class="component__img">
                    <img 
                        srcset="img/footer-section.png 2x"
                        src="img/footer-section.png" alt="image of footer section with form field">
                </div>
                <div class="component__code">
                    <p class="footer-section__title"><a href="#!">Subscribe to our Newsletter</a></p>
                        <div class="input-field">
                            <div class="email-box">
                                <input class="email-box" type="email" placeholder="example@email.com">
                            </div>
                            <div class="subscribe-button">
                                <input class="subscribe-button-input" type="submit" value="SUBSCRIBE">
                            </div>
                                                   
                        </div>
                </div>
        </article>
        
        <article class="component">
            <h3 class="component__name">Copyright and Credits</h3>
                <div class="component__img">
                    <img 
                        srcset="img/footer-credits-bar.png 2x"
                        src="img/footer-credits-bar.png" alt="image of copyrights and credits bar">
                </div>
                <div class="component__code">
                    <div class="copyright-credits">
                        <p class="caps">&#169; 2021 VJ TYPE, All rights reserved</p>
                        <p class="caps">Site by <a class="credit-link" href="#!">TROA</a></p>
                    </div>
                </div>
        </article>

        <article class="component">
            <h3 class="component__name">Info Modules</h3>
                <div class="component__img">
                    <img 
                        srcset="img/info-details-segment.png 2x"
                        src="img/info-details-segment.png" alt="image of info section module">
                </div>
                <div class="component__code">
                    <div class="info-module">
                        <h3 class="info-title">Display &#8211; 1 Weight</h3>
                        <p class="body-small">Regular</p>
                    </div>
                </div>
                <div class="component__code">
                    <div class="info-module">
                        <h3 class="info-title">Release</h3>
                        <p class="body-small">2016</p>
                    </div>
                </div>
                <div class="component__code">
                    <div class="info-module">
                        <h3 class="info-title">Designer</h3>
                        <p class="body-small">Jeremy Schneider</p>
                    </div>
                </div>
                <div class="component__code">
                    <div class="info-module">
                        <h3 class="info-title">Version</h3>
                        <p class="body-small">1.0</p>
                    </div>
                </div>
        </article>
    </body>
</html>